<div id="page-wrapper" class="gray-bg dashbard-1">
    <div class="row border-bottom" style="position:fixed;width:100%;margin:0;z-index:2002;left:0;top:0;">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            
           <h4 style="float:left;line-height:50px;margin:0 10px">超市农产品追溯系统</h4>
           <div style="width:46px;height:46px;background:url(/public/img/logo1.svg) no-repeat center;background-size:46px;position:absolute;left:50%;margin-left:23px;"></div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <span>欢迎你,<%=ctx.session.m_user_info.nick_name%></span>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <!--<li class="m-t-xs">-->
                            <!--<div class="text-center link-block">-->
                                <!--<a class="J_menuItem" href="javascript:void(0);">-->
                                    <!--<i class="fa fa-envelope"></i> <strong> 用户中心</strong>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</li>-->
                        <!--<li class="divider"></li>-->
                        <li>
                            <div class="text-center link-block">
                                <div class="J_menuItem" onclick="logout()">
                                    <!--<i class="fa fa-envelope"></i>--> <strong> 退出</strong>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row J_mainContent" id="content-main">
        <iframe id="J_iframe" width="100%" height="100%" src="/admin/home/toindexv1" frameborder="0" data-id="to_indexv2" seamless></iframe>
    </div>
</div>
